* {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

h1 {
	font-size: 10rem;
	margin: 0;
}

#laHora {
	font-size: 5rem;
	color: darkslategray;
	margin-bottom: 1.25rem;
	padding: 1rem;
	border: 2px solid darkslategray;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
}

button {
	appearance: none;
	border-radius: 12px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	margin: 0.5rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-size: large;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
	background-color: #005bb5;
}

#button-container > :nth-child(1) {
	background-color: green;
}

#button-container > :nth-child(1):hover {
	background-color: rgb(2, 85, 2);
}

#button-container > :nth-child(2) {
	background-color: red;
}

#button-container > :nth-child(2):hover {
	background-color: rgb(129, 1, 1);
}
#button-container > :nth-child(3) {
	color: black;
}

#button-container > :nth-child(3):hover {
	color: white;
}
